<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Welcome</title>
  </head>
  <body>
    <h1>Welcome to 01 Webs, {{name}}!</h1>
    <p>Thank you for signing up. We're excited to have you on board.</p>
    <p>Start exploring our platform by logging in
      <a href='{{loginLink}}'>here</a>.</p>
    <p>Best regards,<br />Your 01 Webs</p>
  </body>
</html>